*{
            box-sizing: border-box;
            margin:0;
            padding: 0;
        }
        .header{
            background-color:grey;
            padding-bottom: 5px;
            margin-bottom: 5px;
        }
        .footer{
            background-color:grey;
            padding: 5px;
            margin-top: 5px;
        }
        .container{
            display:flex;
            width:100vw;
            height:88.5vh;
            flex-direction:row;
        }
        .content-a{
            width:50vw;
            background-color:lightgreen;
        }
        .content-b{
            width:25vw;
            background-color:green;
            order:-1
        }
        .content-c{
            width:25vw;
            background-color:yellow;
            
        }
        @media screen and (320px<= width <=740px){
            .container{
                display:flex;
                width:100vw;
                height:88.5vh;
                flex-flow:row wrap;
            }
            .content-a{
                height: 44.25vh;
                width: 100vw;
                
            }
            .content-b{
                height: 44.25vh;
                width: 50vw;
                order:0
            }
            .content-c{
                height: 44.25vh;
                width: 50vw;
            }
        }
         @media screen and (width<320px){
            .container{
                display:flex;
                flex-flow:column wrap;
            }
            .content-a{
                width:100vw;
                height:44.25vh;
            }
            .content-b{
                width:100vw;
                height:22.125vh;
                order:0
            }
            .content-c{
                width:100vw;
                height:22.125vh;
            }
        } 