*{
            box-sizing: border-box;
            margin:0;
            padding: 0;
        }
        .header{
            background-color:grey;
            padding-bottom: 5px;
            margin-bottom: 5px;
        }
        .footer{
            background-color:grey;
            padding: 5px;
            margin-top: 5px;
        }
        .container{
            display:flex;
            width:100vw;
            height:88.5vh;
            flex-direction:column;
            flex-wrap:wrap;
        }
        .content-a{
            height:44.25vh;
            width:75vw;
            background-color:red;
        }
        .content-b{
            height:44.25vh;
            width:75vw;
            background-color:orange;
        }
        .content-c{
            height:88.5vh;
            width:25vw;
            background-color:yellow;
            
        }
        @media screen and (320px<= width <=740px){
            .content-a{
                height: 44.25vh;
                width: 50vw;
            }
            .content-b{
                height: 44.25vh;
                width: 50vw;
            }
            .content-c{
                height: 88.5vh;
                width: 50vw;
            }
        }
        @media screen and (width<320px){
            .container{
                display:flex;
                flex-flow:column wrap;
            }
            .content-a{
                width:100vw;
                height:29.5vh;
            }
            .content-b{
                width:100vw;
                height:29.5vh;
            }
            .content-c{
                width:100vw;
                height:29.5vh;
            }
        }